<% form_tag session_path do %>
<div class="correction">
  <%= link_to 'signup', signup_path, :class=>"logout" %>
  <%= submit_tag 'login', :class=>"login" %>
  <div class="header"><h1>Login</h1></div>
  <p class="question">
    <%= flash_messages %>
  </p>
  <p class="options">
    <%= label_tag 'login', 'Username' %><br />
    <%= text_field_tag 'login', @login %>
    <br /><br />
    <%= label_tag 'password' %><br />
    <%= password_field_tag 'password', nil %>
    <br /><br />
    <%= link_to 'Forgot password?', forgot_password_path %>
  </p>
</div>
<% end -%>
