<div class="quiz">
  <%= link_to 'exit', logout_path, :class=>"logout" %>
  <% if @learn_detail -%>
  <% form_for(@learn_detail) do |f| -%>
  <%= f.submit "next", :class=>"next" %>
  <div class="header">
    <%= flash_messages %>
    <em><%= @learn_detail.quiz_type.description %></em>
  </div>
  <p class="question"><strong><%= @quiz.question.capitalize %></strong></p>
  <p class="options"><%= memo_options @quiz %></p>
  <% end -%>
  <%= page_number %>
  <% else -%>
  <%= button_to 'next', root_path, :class=>"next" %>
  <div class="header">
    <%= flash_messages %>
    <% if current_user.today_learned? -%>
    Өнөөдрийн үг дууслаа. Дахин үг нэмж үзэх бол 'next' товчыг дарна уу?
    <% else -%>
    Үргэлжлүүлэх бол 'next' товчыг дарна уу?
    <% end -%>
  </div>
  <% end -%>
</div>
