<div class="correction">
  <%= link_to 'exit', logout_path, :class=>"logout" %>
  <%= button_to "next", {:controller=>:memo, :action => :index}, :class=>"next" %>
  <div class="header">
    <%= flash_messages %>
  </div>
  <p class="question"><strong><%= @word.word %></strong> 
    <em>(<%= @word.clause %>)</em> [<%= @word.pronunciation %>]</p>
  <p class="desc"><strong>Тайлбар</strong>
    <span class="en"><%= @word.english_definition %></span>
    <span class="mn"><%= @word.mongolian_definition %></span>
  </p>
  <p class="example"><strong>Жишээ</strong>
    <span class="en"><%= @word.english_sentence %></span>
    <span class="mn"><%= @word.mongolian_sentence %></span>
  </p>
</div>
