<h1>Listing quiz_types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for quiz_type in @quiz_types %>
  <tr>
    <td><%=h quiz_type.name %></td>
    <td><%= link_to 'Show', quiz_type %></td>
    <td><%= link_to 'Edit', edit_quiz_type_path(quiz_type) %></td>
    <td><%= link_to 'Destroy', quiz_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quiz_type', new_quiz_type_path %>
