<% @user.password = @user.password_confirmation = nil %>
<% form_for @user do |f| %>
<div class="correction">
  <%= link_to 'login', login_path, :class=>"logout" %>
  <%= submit_tag 'signup', :class=>"signup" %>
  <p class="header"><em>Signup</em></p>
  <p class="question">
    <%= flash_messages %>
    <%= f.error_messages %>
  </p>
  <p class="options">
    <%= f.label :login, 'Username' %><br />
    <%= f.text_field :login %>
    <br /><br />
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <br /><br />
    <%= f.label :password %><br />
    <%= f.password_field :password %>
    <br /><br />
    <%= f.label :password_confirmation, 'Confirm Password' %><br />
    <%= f.password_field :password_confirmation %>    
  </p>
  
</div>
<% end -%>
