<% @user.password = @user.password_confirmation = nil %>
<% form_for @user do |f| %>
<div class="correction">
  <%= link_to 'login', login_path, :class=>"logout" %>
  <%= submit_tag 'signup', :class=>"signup" %>
  <div class="header"><h1>Signup</h1></div>
  <p class="question">
    <%= flash_messages %>
    <%= f.error_messages %>
  </p>
  <div class="register">
    <p><%= f.label :login, 'Username' %>
    <%= f.text_field :login %></p>
    <p><%= f.label :email %>
    <%= f.text_field :email %>
    <p><%= f.label :password %>
    <%= f.password_field :password %>
    <p><%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %></p>
  </div>
  
</div>
<% end -%>
